@font-face {
  font-family: "stolzl_medium";
  src: url("fonts/stolzl_medium.otf");
}
@font-face {
  font-family: "stolzl_regular";
  src: url("fonts/stolzl_regular.otf");
}
@font-face {
  font-family: "Verdana";
  src: url("fonts/Verdana.ttf");
}
* {
  margin: 0;
  box-sizing: border-box;
}
* body {
  background: #F3F8FC;
  color: #000000;
}
* body .container {
  max-width: 1090px;
  margin: 0 auto;
}
* body .container p {
  font-family: "Verdana";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
* body .container .title {
  font-family: "stolzl_medium";
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin: 94px 0 24px 40px;
}
* body .container .cards {
  display: flex;
  gap: 20px;
  max-width: 1090px;
  height: 280px;
}
* body .container .cards .card_1 {
  width: 443px;
}
* body .container .cards .card_2 {
  width: 300px;
}
* body .container .cards .card_3 {
  width: 307px;
}
* body .container .cards .card {
  background-color: #FFFFFF;
  border-radius: 40px;
  padding: 41px 40px 40px 40px;
  box-shadow: 0px 4px 4px -2px rgba(24, 39, 75, 0.0392156863);
  box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.0588235294);
  display: flex;
  flex-direction: column;
  position: relative;
}
* body .container .cards .card .subtitle {
  font-family: "stolzl_medium";
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 8px 19px 0;
}
* body .container .cards .card .icon_info {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 242px;
  top: 42px;
}
* body .container .cards .card .diagram {
  width: 160px;
  height: 160px;
}
* body .container .cards .card .result {
  font-family: "stolzl_regular";
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  position: absolute;
}
* body .container .cards .card .result_1 {
  top: 138px;
  left: 84px;
}
* body .container .cards .card .result_2 {
  top: 149px;
  left: 125px;
}
* body .container .cards .card .content_column {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 94px;
  right: 41px;
  width: 182px;
}
* body .container .cards .card .content_column .subsubtitle {
  font-family: "stolzl_medium";
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}
* body .container .cards .card .content_column .count {
  display: flex;
  margin-bottom: 8px;
}
* body .container .cards .card .content_column .count .color {
  width: 8px;
  height: 8px;
  margin: 5px 8px 5px 0;
}
* body .container .cards .card .content_column .count .proportion {
  color: #808080;
  padding-left: 4px;
}
* body .container .cards .card .semicircle {
  width: 200px;
  height: 100px;
  margin: 0 0 0 10px;
}
* body .container .cards .card .text_card2 {
  margin: 21px 7px;
  text-align: center;
}
* body .container .cards .card .attention {
  display: flex;
  border: 1px solid #E7F1F9;
  padding: 4px 11px 4px 11px;
  gap: 6px;
  border-radius: 8px;
  width: auto;
  max-width: fit-content;
  margin-bottom: 10px;
}
* body .container .cards .card .attention .icon_attention {
  width: 16px;
  height: 16px;
}
* body .container .cards .card .attention .text_card3 {
  font-size: 12px;
  line-height: 18px;
}

/*# sourceMappingURL=index.css.map */
